
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-l: 0.9582; --background-c: 0.0152; --background-h: 90.2357;
    --background: oklch(var(--background-l) var(--background-c) var(--background-h));
    --foreground-l: 0.3760; --foreground-c: 0.0225; --foreground-h: 64.3434;
    --foreground: oklch(var(--foreground-l) var(--foreground-c) var(--foreground-h));
    --card-l: 0.9914; --card-c: 0.0098; --card-h: 87.4695;
    --card: oklch(var(--card-l) var(--card-c) var(--card-h));
    --card-foreground-l: 0.3760; --card-foreground-c: 0.0225; --card-foreground-h: 64.3434;
    --card-foreground: oklch(var(--card-foreground-l) var(--card-foreground-c) var(--card-foreground-h));
    --popover-l: 0.9914; --popover-c: 0.0098; --popover-h: 87.4695;
    --popover: oklch(var(--popover-l) var(--popover-c) var(--popover-h));
    --popover-foreground-l: 0.3760; --popover-foreground-c: 0.0225; --popover-foreground-h: 64.3434;
    --popover-foreground: oklch(var(--popover-foreground-l) var(--popover-foreground-c) var(--popover-foreground-h));
    --primary-l: 0.6180; --primary-c: 0.0778; --primary-h: 65.5444;
    --primary: oklch(var(--primary-l) var(--primary-c) var(--primary-h));
    --primary-foreground-l: 1.0000; --primary-foreground-c: 0; --primary-foreground-h: 0;
    --primary-foreground: oklch(var(--primary-foreground-l) var(--primary-foreground-c) var(--primary-foreground-h));
    --secondary-l: 0.8846; --secondary-c: 0.0302; --secondary-h: 85.5655;
    --secondary: oklch(var(--secondary-l) var(--secondary-c) var(--secondary-h));
    --secondary-foreground-l: 0.4313; --secondary-foreground-c: 0.0300; --secondary-foreground-h: 64.9288;
    --secondary-foreground: oklch(var(--secondary-foreground-l) var(--secondary-foreground-c) var(--secondary-foreground-h));
    --muted-l: 0.9239; --muted-c: 0.0190; --muted-h: 83.0636;
    --muted: oklch(var(--muted-l) var(--muted-c) var(--muted-h));
    --muted-foreground-l: 0.5391; --muted-foreground-c: 0.0387; --muted-foreground-h: 71.1655;
    --muted-foreground: oklch(var(--muted-foreground-l) var(--muted-foreground-c) var(--muted-foreground-h));
    --accent-l: 0.8348; --accent-c: 0.0426; --accent-h: 88.8064;
    --accent: oklch(var(--accent-l) var(--accent-c) var(--accent-h));
    --accent-foreground-l: 0.3760; --accent-foreground-c: 0.0225; --accent-foreground-h: 64.3434;
    --accent-foreground: oklch(var(--accent-foreground-l) var(--accent-foreground-c) var(--accent-foreground-h));
    --destructive-l: 0.5471; --destructive-c: 0.1438; --destructive-h: 32.9149;
    --destructive: oklch(var(--destructive-l) var(--destructive-c) var(--destructive-h));
    --destructive-foreground-l: 1.0000; --destructive-foreground-c: 0; --destructive-foreground-h: 0;
    --destructive-foreground: oklch(var(--destructive-foreground-l) var(--destructive-foreground-c) var(--destructive-foreground-h));
    --border-l: 0.8606; --border-c: 0.0321; --border-h: 84.5881;
    --border: oklch(var(--border-l) var(--border-c) var(--border-h));
    --input-l: 0.8606; --input-c: 0.0321; --input-h: 84.5881;
    --input: oklch(var(--input-l) var(--input-c) var(--input-h));
    --ring-l: 0.6180; --ring-c: 0.0778; --ring-h: 65.5444;
    --ring: oklch(var(--ring-l) var(--ring-c) var(--ring-h));
    --chart-1-l: 0.6180; --chart-1-c: 0.0778; --chart-1-h: 65.5444;
    --chart-1: oklch(var(--chart-1-l) var(--chart-1-c) var(--chart-1-h));
    --chart-2-l: 0.5604; --chart-2-c: 0.0624; --chart-2-h: 68.5805;
    --chart-2: oklch(var(--chart-2-l) var(--chart-2-c) var(--chart-2-h));
    --chart-3-l: 0.4851; --chart-3-c: 0.0570; --chart-3-h: 72.6827;
    --chart-3: oklch(var(--chart-3-l) var(--chart-3-c) var(--chart-3-h));
    --chart-4-l: 0.6777; --chart-4-c: 0.0624; --chart-4-h: 64.7755;
    --chart-4: oklch(var(--chart-4-l) var(--chart-4-c) var(--chart-4-h));
    --chart-5-l: 0.7264; --chart-5-c: 0.0581; --chart-5-h: 66.6967;
    --chart-5: oklch(var(--chart-5-l) var(--chart-5-c) var(--chart-5-h));
    --sidebar-l: 0.9239; --sidebar-c: 0.0190; --sidebar-h: 83.0636;
    --sidebar: oklch(var(--sidebar-l) var(--sidebar-c) var(--sidebar-h));
    --sidebar-foreground-l: 0.3760; --sidebar-foreground-c: 0.0225; --sidebar-foreground-h: 64.3434;
    --sidebar-foreground: oklch(var(--sidebar-foreground-l) var(--sidebar-foreground-c) var(--sidebar-foreground-h));
    --sidebar-primary-l: 0.6180; --sidebar-primary-c: 0.0778; --sidebar-primary-h: 65.5444;
    --sidebar-primary: oklch(var(--sidebar-primary-l) var(--sidebar-primary-c) var(--sidebar-primary-h));
    --sidebar-primary-foreground-l: 1.0000; --sidebar-primary-foreground-c: 0; --sidebar-primary-foreground-h: 0;
    --sidebar-primary-foreground: oklch(var(--sidebar-primary-foreground-l) var(--sidebar-primary-foreground-c) var(--sidebar-primary-foreground-h));
    --sidebar-accent-l: 0.8348; --sidebar-accent-c: 0.0426; --sidebar-accent-h: 88.8064;
    --sidebar-accent: oklch(var(--sidebar-accent-l) var(--sidebar-accent-c) var(--sidebar-accent-h));
    --sidebar-accent-foreground-l: 0.3760; --sidebar-accent-foreground-c: 0.0225; --sidebar-accent-foreground-h: 64.3434;
    --sidebar-accent-foreground: oklch(var(--sidebar-accent-foreground-l) var(--sidebar-accent-foreground-c) var(--sidebar-accent-foreground-h));
    --sidebar-border-l: 0.8606; --sidebar-border-c: 0.0321; --sidebar-border-h: 84.5881;
    --sidebar-border: oklch(var(--sidebar-border-l) var(--sidebar-border-c) var(--sidebar-border-h));
    --sidebar-ring-l: 0.6180; --sidebar-ring-c: 0.0778; --sidebar-ring-h: 65.5444;
    --sidebar-ring: oklch(var(--sidebar-ring-l) var(--sidebar-ring-c) var(--sidebar-ring-h));
    --font-sans: Libre Baskerville, serif;
    --font-serif: Lora, serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 0.25rem;
    --shadow-x: 2px;
    --shadow-y: 3px;
    --shadow-blur: 5px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.12;
    --shadow-color: hsl(28 13% 20%);
    --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
    --shadow-xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
    --shadow-sm: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
    --shadow: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
    --shadow-md: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 2px 4px -1px hsl(28 13% 20% / 0.12);
    --shadow-lg: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 4px 6px -1px hsl(28 13% 20% / 0.12);
    --shadow-xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 8px 10px -1px hsl(28 13% 20% / 0.12);
    --shadow-2xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.30);
    --tracking-normal: 0em;
    --spacing: 0.25rem;

    /* Neumorphism light theme variables */
    --neumo-bg: var(--background);
    --neumo-light-shadow: oklch(calc(var(--background-l) + 0.05) var(--background-c) var(--background-h) / 0.5);
    --neumo-dark-shadow: oklch(calc(var(--background-l) - 0.05) var(--background-c) var(--background-h) / 0.5);
  }

  .dark {
    --background-l: 0.2747; --background-c: 0.0139; --background-h: 57.6523;
    --background: oklch(var(--background-l) var(--background-c) var(--background-h));
    --foreground-l: 0.9239; --foreground-c: 0.0190; --foreground-h: 83.0636;
    --foreground: oklch(var(--foreground-l) var(--foreground-c) var(--foreground-h));
    --card-l: 0.3237; --card-c: 0.0155; --card-h: 59.0603;
    --card: oklch(var(--card-l) var(--card-c) var(--card-h));
    --card-foreground-l: 0.9239; --card-foreground-c: 0.0190; --card-foreground-h: 83.0636;
    --card-foreground: oklch(var(--card-foreground-l) var(--card-foreground-c) var(--card-foreground-h));
    --popover-l: 0.3237; --popover-c: 0.0155; --popover-h: 59.0603;
    --popover: oklch(var(--popover-l) var(--popover-c) var(--popover-h));
    --popover-foreground-l: 0.9239; --popover-foreground-c: 0.0190; --popover-foreground-h: 83.0636;
    --popover-foreground: oklch(var(--popover-foreground-l) var(--popover-foreground-c) var(--popover-foreground-h));
    --primary-l: 0.7264; --primary-c: 0.0581; --primary-h: 66.6967;
    --primary: oklch(var(--primary-l) var(--primary-c) var(--primary-h));
    --primary-foreground-l: 0.2747; --primary-foreground-c: 0.0139; --primary-foreground-h: 57.6523;
    --primary-foreground: oklch(var(--primary-foreground-l) var(--primary-foreground-c) var(--primary-foreground-h));
    --secondary-l: 0.3795; --secondary-c: 0.0181; --secondary-h: 57.1280;
    --secondary: oklch(var(--secondary-l) var(--secondary-c) var(--secondary-h));
    --secondary-foreground-l: 0.9239; --secondary-foreground-c: 0.0190; --secondary-foreground-h: 83.0636;
    --secondary-foreground: oklch(var(--secondary-foreground-l) var(--secondary-foreground-c) var(--secondary-foreground-h));
    --muted-l: 0.2939; --muted-c: 0.0125; --muted-h: 62.1298;
    --muted: oklch(var(--muted-l) var(--muted-c) var(--muted-h));
    --muted-foreground-l: 0.7982; --muted-foreground-c: 0.0243; --muted-foreground-h: 82.1078;
    --muted-foreground: oklch(var(--muted-foreground-l) var(--muted-foreground-c) var(--muted-foreground-h));
    --accent-l: 0.4186; --accent-c: 0.0281; --accent-h: 56.3404;
    --accent: oklch(var(--accent-l) var(--accent-c) var(--accent-h));
    --accent-foreground-l: 0.9239; --accent-foreground-c: 0.0190; --accent-foreground-h: 83.0636;
    --accent-foreground: oklch(var(--accent-foreground-l) var(--accent-foreground-c) var(--accent-foreground-h));
    --destructive-l: 0.5471; --destructive-c: 0.1438; --destructive-h: 32.9149;
    --destructive: oklch(var(--destructive-l) var(--destructive-c) var(--destructive-h));
    --destructive-foreground-l: 1.0000; --destructive-foreground-c: 0; --destructive-foreground-h: 0;
    --destructive-foreground: oklch(var(--destructive-foreground-l) var(--destructive-foreground-c) var(--destructive-foreground-h));
    --border-l: 0.3795; --border-c: 0.0181; --border-h: 57.1280;
    --border: oklch(var(--border-l) var(--border-c) var(--border-h));
    --input-l: 0.3795; --input-c: 0.0181; --input-h: 57.1280;
    --input: oklch(var(--input-l) var(--input-c) var(--input-h));
    --ring-l: 0.7264; --ring-c: 0.0581; --ring-h: 66.6967;
    --ring: oklch(var(--ring-l) var(--ring-c) var(--ring-h));
    --chart-1-l: 0.7264; --chart-1-c: 0.0581; --chart-1-h: 66.6967;
    --chart-1: oklch(var(--chart-1-l) var(--chart-1-c) var(--chart-1-h));
    --chart-2-l: 0.6777; --chart-2-c: 0.0624; --chart-2-h: 64.7755;
    --chart-2: oklch(var(--chart-2-l) var(--chart-2-c) var(--chart-2-h));
    --chart-3-l: 0.6180; --chart-3-c: 0.0778; --chart-3-h: 65.5444;
    --chart-3: oklch(var(--chart-3-l) var(--chart-3-c) var(--chart-3-h));
    --chart-4-l: 0.5604; --chart-4-c: 0.0624; --chart-4-h: 68.5805;
    --chart-4: oklch(var(--chart-4-l) var(--chart-4-c) var(--chart-4-h));
    --chart-5-l: 0.4851; --chart-5-c: 0.0570; --chart-5-h: 72.6827;
    --chart-5: oklch(var(--chart-5-l) var(--chart-5-c) var(--chart-5-h));
    --sidebar-l: 0.2747; --sidebar-c: 0.0139; --sidebar-h: 57.6523;
    --sidebar: oklch(var(--sidebar-l) var(--sidebar-c) var(--sidebar-h));
    --sidebar-foreground-l: 0.9239; --sidebar-foreground-c: 0.0190; --sidebar-foreground-h: 83.0636;
    --sidebar-foreground: oklch(var(--sidebar-foreground-l) var(--sidebar-foreground-c) var(--sidebar-foreground-h));
    --sidebar-primary-l: 0.7264; --sidebar-primary-c: 0.0581; --sidebar-primary-h: 66.6967;
    --sidebar-primary: oklch(var(--sidebar-primary-l) var(--sidebar-primary-c) var(--sidebar-primary-h));
    --sidebar-primary-foreground-l: 0.2747; --sidebar-primary-foreground-c: 0.0139; --sidebar-primary-foreground-h: 57.6523;
    --sidebar-primary-foreground: oklch(var(--sidebar-primary-foreground-l) var(--sidebar-primary-foreground-c) var(--sidebar-primary-foreground-h));
    --sidebar-accent-l: 0.4186; --sidebar-accent-c: 0.0281; --sidebar-accent-h: 56.3404;
    --sidebar-accent: oklch(var(--sidebar-accent-l) var(--sidebar-accent-c) var(--sidebar-accent-h));
    --sidebar-accent-foreground-l: 0.9239; --sidebar-accent-foreground-c: 0.0190; --sidebar-accent-foreground-h: 83.0636;
    --sidebar-accent-foreground: oklch(var(--sidebar-accent-foreground-l) var(--sidebar-accent-foreground-c) var(--sidebar-accent-foreground-h));
    --sidebar-border-l: 0.3795; --sidebar-border-c: 0.0181; --sidebar-border-h: 57.1280;
    --sidebar-border: oklch(var(--sidebar-border-l) var(--sidebar-border-c) var(--sidebar-border-h));
    --sidebar-ring-l: 0.7264; --sidebar-ring-c: 0.0581; --sidebar-ring-h: 66.6967;
    --sidebar-ring: oklch(var(--sidebar-ring-l) var(--sidebar-ring-c) var(--sidebar-ring-h));

    /* Neumorphism dark theme variables */
    --neumo-bg-dark: var(--background);
    --neumo-light-shadow-dark: oklch(calc(var(--background-l) + 0.05) var(--background-c) var(--background-h) / 0.5);
    --neumo-dark-shadow-dark: oklch(calc(var(--background-l) - 0.05) var(--background-c) var(--background-h) / 0.5);
    --font-sans: Libre Baskerville, serif;
    --font-serif: Lora, serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 0.25rem;
    --shadow-x: 2px;
    --shadow-y: 3px;
    --shadow-blur: 5px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.12;
    --shadow-color: hsl(28 13% 20%);
    --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
    --shadow-xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
    --shadow-sm: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
    --shadow: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
    --shadow-md: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 2px 4px -1px hsl(28 13% 20% / 0.12);
    --shadow-lg: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 4px 6px -1px hsl(28 13% 20% / 0.12);
    --shadow-xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 8px 10px -1px hsl(28 13% 20% / 0.12);
    --shadow-2xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.30);
  }
}

@layer base {
  body {
    line-height: 1.7;
    letter-spacing: 0.01em;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    letter-spacing: -0.01em;
  }

  p, li {
    line-height: 1.75;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
